/* for tablet or medium devices */

@media screen and (max-width:768px) {
    .nav-content{
        flex-direction:column;
    }
    .btn-content{
        flex-direction: column;    
    }
    .btn-content a{
        margin-top: 30px;
        text-align: center;
    }
    .follow-btn{
        margin-top: 30px;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 400px;
    }
    .banner-text-items {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .banner-text-content {
        width: 90%;
        margin:0 20px;
    }
    .banner-img {
        width: 90%;
        margin-bottom: 20px;
        margin-left: 20px;
      }
      .banner-section img {
        width: 90%;
        
      }
      .play-img-content .small-img {
        width: 30%;
        position: absolute;
        top: 200px;
        left: 140px;
    
      }
        
}

/* for mobile devices */

@media screen and (max-width:425px) {
    
    .nav-content{
        flex-direction: column;
    }
    .btn-content{
        flex-direction: column;
        
    }
    .btn-content a{
        margin-top: 30px;
        text-align: center;
    }
    .follow-btn{
        margin-top: 30px;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 80px;
    }
    .banner-text-items {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .banner-text-content {
        width: 90%;
        margin:0 20px;
    }
    .banner-img {
        width: 90%;
        margin-bottom: 20px;
      }
      .banner-section img {
        width: 80%;
        
      }
      .play-container {
        width: 80%;
        flex-direction: column; 
      }
    
      .play-img-content .play-img {
        width: 70%;
        margin-left: 80px;
      }
      .play-img-content .small-img {
        width: 30%;
        position: absolute;
        top: 140px;
        left: 40px;
        border: 1px solid #f948b2;
      }
    
      .text-content{
        margin-bottom: 50px;
        
      }
      .text-content h2, p{
        text-align: center;
      }
      .text-content  p{
        text-align: center;
      }
      .cards-container{
        grid-template-columns: repeat(3,1fr);
      }
      /* online game styles */
      .online-game-cards{
        flex-direction: column;
      }
      /* footer */
      .foot-text{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
       
      }
      .foot-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-left: 70px;
      }
      .foot-pera{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        margin-left: 0px;
      }
      .copyrights {
       
        margin-left: 100px;
        width: 200px;
        margin-top:  30px;
       
      }
}